<div
  class="card-icon"
  [class.stacked]="variant === 'stacked'"
  [class.al-dia]="status === 'al-dia'"
  [class.vencida]="status === 'vencida'"
  [class.proximo]="status === 'proximo'"
  [class.card-content-bg]="useCardContentBg"  
>
  <div class="icon-wrapper">
    <ion-icon [name]="icon"></ion-icon>
  </div>

  <div class="content">
    <ng-content></ng-content>
  </div>

  <!-- TEXTO SIMPLE A LA DERECHA -->
  <span *ngIf="statusLabel" class="fw-medium">
    {{ statusLabel }}
  </span>
</div>