<ion-footer class="deudaso-footer ion-no-border">
  <div class="bottom-nav">
    
    <a class="nav-item" 
       [routerLink]="['/']" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">  
      <div class="icon-wrapper">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <span>Home</span>
    </a>

    <a class="nav-item" [routerLink]="['/signals']" routerLinkActive="active">
      <div class="icon-wrapper">
        <ion-icon name="hardware-chip-outline"></ion-icon>
      </div>
      <span>Bot</span>
    </a>

    <a class="nav-item nexus-nav-item" [routerLink]="['/nexus-15']" routerLinkActive="active">
      <div class="icon-wrapper nexus-icon-wrapper">
        <ion-icon name="pulse-outline"></ion-icon>
      </div>
      <span>NEXUS-15</span>
    </a>

    <a class="nav-item" [routerLink]="['/market-radar']" routerLinkActive="active">
      <div class="icon-wrapper">
        <ion-icon name="radio-outline"></ion-icon>
      </div>
      <span>Radar</span>
    </a>

    <a class="nav-item" [routerLink]="['/profile']" routerLinkActive="active">
      <div class="icon-wrapper">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <span>Perfil</span>
    </a>

  </div>
</ion-footer>