<ion-footer class="deudaso-footer ion-no-border">
  <div class="bottom-nav">
    
    <a class="nav-item" 
       [routerLink]="['/']" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">  
      <div class="icon-wrapper">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <span>Home</span>
    </a>

    <a class="nav-item" [routerLink]="['/signals']" routerLinkActive="active">
      <div class="icon-wrapper">
        <ion-icon name="card-outline"></ion-icon>
      </div>
      <span>Deudas</span>
    </a>

    <a class="nav-item" [routerLink]="['/profile']" routerLinkActive="active">
      <div class="icon-wrapper">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <span>Perfil</span>
    </a>

  </div>
</ion-footer>